  :root{
    background-color: #ffeded;
  }
  
  
  h2{
    font-family: "Poppins", sans-serif;
  }

  body{
    background-color: #ffeded;
    color: black;
  }

  input{
    color: black;
  }

  input::placeholder, textarea::placeholder{
    color: #545151;
  }

  th{
    color: #545151;
  }