h2{
    font-family: "Poppins", sans-serif;
  }

  body{
    background-color: #ffeded;
    color: black;
  }

  input{
    color: black;
  }

  input::placeholder, textarea::placeholder, select::placeholder{
    color: #2a2828;
  }

  input[type="date"]{
    color: #2a2828;
  }